* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../multimedia/elfary.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

article {
    width: 35%;
    margin: 30px auto;
    border: 5px outset black;
    padding: 20px;
    background-color: rgba(246, 246, 246, 0.800);
    color: black;
}

table,
tr,
td {
    border-collapse: collapse;
    border: 2px outset lightgray;
}

table {
    width: 80%;
    margin: auto;

}

table tr:first-child td {
    background-color: rgba(0, 0, 0, 0.800);
    font-size: 30px;
    color: white;
    padding: 2%;
}

tr:hover td {
    background-color: rgba(0, 0, 0, 0.800);
    color: white;
}

td {
    overflow-wrap: break-word;
    padding: 1%;
    background-color: rgba(246, 246, 246, 0.800);
}