body * {
    display: block;
}

form>ul li{
    list-style: circle;
}

h1 {
    width: 310px;
    padding: 1%;
    margin: auto;
    text-decoration: lightgreen underline;
}
/* 
li * {
    display: inline-block;
} */

ul {
    margin: auto;
    width: 50%;
}

ul ul {
    width: 100%;
}

.colores {
    display: block;
}

input[type='submit'] {
    margin: auto;
    padding: 1%;
    display: block;
    float: right;
}

.colores li *, .colores li{
    display: inline-block;
}