#Rojo {
    color: red;
}

#Azul {
    color: blue;
}

#Amarillo {
    color: yellow;
}

#Morado {
    color: purple;
}

#Verde {
    color: green;
}

* {
    display: block;
}

div *{
    display: inline-block;
}

div {
    margin: auto;
    width: 30%;
}

div div {
    display: block;
    width: 100%;
    margin: 1%;
}

div div *{
    margin: 5%;
    display: inline-block;
}

body>h1 {
    width: 20%;
    padding: 1%;
    margin: auto;
    text-decoration: lightgreen underline;
}