<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">  	
	
	<servlet>
		<servlet-name>DatosContexto</servlet-name>
		<servlet-class>DatosContexto</servlet-class>
		<init-param>
			<param-name>mondongo</param-name>
			<param-value>1</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DatosContexto</servlet-name>
		<url-pattern>/DatosContexto</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DatosContexto2</servlet-name>
		<servlet-class>DatosContexto2</servlet-class>
		<init-param>
			<param-name>mondongo</param-name>
			<param-value>2</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DatosContexto2</servlet-name>
		<url-pattern>/DatosContexto2</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>autor</param-name>
		<param-value>Jose Antonio Fajardo Naranjo</param-value>
	</context-param>
	<context-param>
		<param-name>organizacion</param-name>
		<param-value>IES Martin Rivero</param-value>
	</context-param>

</web-app>
