* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(multimedia/somari.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

article {
    width: 50%;
    margin: 30px auto;
    border: 5px outset black;
    padding: 20px;
    background-color: rgba(246, 246, 246, 0.800);
    color: black;
    text-align: center;
}

h2 {
    padding: 2%;
}