body {
    background-image: url(../todalapuestada.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: white;
    text-align: center;
}

a {
    padding: 1.5% 1%;
    background-color: wheat;
    position: absolute;
    margin: 24% 45%;
}