* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
}

table, tr, td, th {
    border-collapse: collapse;
}

th {
    padding: 15px 20px;
}

table {
    width: 70%;
    margin: 50px auto;
}

td {
    padding: 10px 20px;
    text-align: center;
    color: purple;
}

tr:first-child{
    color: white;
    border-top: none;
    background-color: rgb(23, 23, 165);
}

tr:last-child{
    color: purple;
    border-top: 5px solid purple;
    border-bottom: 5px solid purple;
}

caption{
    padding: 20px;
}

tr {
    width: 100%;
    
    border-top: 1px solid white;
    padding: 20px;
  }

article {
    width: 50%;
    margin: 30px auto;
    border: 5px outset black;
    padding: 20px;
    background-color: rgba(246, 246, 246, 0.800);
    color: black;
    text-align: center;
    box-shadow: 3px solid black;
}

h2 {
    padding: 2%;
}